<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.raitakrushibandhu">

    <!-- Required hardware -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!-- Essential permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Location (only if used in your app) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Storage permissions -->
    <!-- Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <!-- WRITE_EXTERNAL_STORAGE is deprecated beyond API 28, no longer needed -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" /> -->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.RaitaKrushiBandhu"
        android:supportsRtl="true"
        tools:targetApi="33"
        tools:ignore="MissingClass">

        <!-- Activities -->
        <activity android:name=".DataActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".PlantActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".ThanksActivity" />
        <activity android:name=".LegalNoticesActivity" />
        <activity android:name=".QuickStartActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".FullscreenImageAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".FullscreenImageActivity"/>
        <activity android:name=".DiagnoseActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".DiagnoseHistory"
            tools:ignore="Instantiatable" />




        <!-- Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.raitakrushibandhu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
